.title {
  font-size: 3rem;
  font-family: sans-serif;
  margin-bottom: 0;
  text-transform: lowercase;
}

.subtitle {
  font-size: 2rem;
}

.a {
  text-decoration: none;
}
.a:visited {
  color: pink;
}

.link {
  color: blue;
  /* background-color: pink; */
  font-weight: 600;
}

.link:visited {
  color: black;
}

.site-title {
  font-size: 4rem;
  color: pink;
}

.site-title:before {
  display: block;
  position: absolute;
  /* opacity: 0.5; */
  content: ' ';
  width: 10.5rem;
  margin-top: 2rem;
  height: 2rem;
  background-color: black;
}

@media screen and (min-width: 30em) {
  .site-title {
    font-size: 8rem;
  }
  .site-title:before {
    display: block;
    position: absolute;
    /* opacity: 0.5; */
    content: ' ';
    width: 21rem;
    margin-top: 4rem;
    height: 4rem;
    background-color: black;
  }
}
