:root {
  --img-size: 70px;
}
.music-block {
  width: var(--img-size);
  height: var(--img-size);
}

.loading {
  background-color: pink;
  animation: color-change 2s infinite;
  width: calc(var(--img-size) * 4);
  height: calc(var(--img-size) * 4);
}

.loading:before {
  content: "loading...";
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.now-playing {
  background-color: pink;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, var(--img-size));
  grid-template-rows: repeat(4, var(--img-size));
}

@keyframes color-change {
  0% {
    background: pink;
  }

  50% {
    background-color: salmon;
  }

  100% {
    background-color: hotpink;
  }
}
